.play-Card-container {
  display: inline-flex;
  flex-direction: column;
  padding: 0 1.25rem 0.9375em 17px;

  width: 100%;
  padding-inline-start: 0;

  .play-Card-wrapper {
    // height: 14rem;
    // width: 12.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .descriptionCard-bottom {
    display: flex;
    flex-flow: column;
    // margin: 0.3125rem 0;
    .fa-circle {
      font-size: 3px;
      margin: 0 5px;
    }
    > * {
      line-height: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      letter-spacing: 0.5px;
      line-height: 20px;
    }
    h4 {
      // Card Name
      color: #444444;

      margin-top: 5px;
      font-size: 14px;
      font-weight: 500;
    }
    // Card Artist
    span {
      font-size: 14px;
      color: #555555;

      font-weight: 400;
      display: block;
    }

    //Card Genre
    h3 {
      font-size: 12px;

      color: #8e8e93;

      font-weight: 400;
    }

    // .play-Card-title {
    //   font-size: 0.9rem;
    //   // font-weight: bold;
    // }
    // .play-Card-subTitle {
    //   font-size: 0.8rem;
    // }
    .play-Card-text {
      display: flex;
      align-items: center;
    }
  }
  .imageCard-top {
    display: flex;
    position: relative;
    // flex: 1;
    height: 83%;

    img {
      height: 100%;
      width: 100%;

      border-radius: 0.3rem;
      overflow: hidden;
      transition: all 0.3s linear;
      &:hover {
        filter: brightness(0.8);
        transition: all 0.3s linear;
      }
    }
  }
  .fa-ellipsis-h {
    font-size: 1.75rem;
  }
  &:hover {
    .card-options {
      * {
        transition: all 0.3s linear;

        opacity: 1;
      }
    }
  }
}
.card-options {
  position: absolute;

  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 9px;

  > * {
    transition: all 0.3s linear;

    margin-right: 0.5rem;
    opacity: 0;

    // transform: translateY(-200px);
  }
  .icon-wrapper {
    font-size: 2.5625rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
// Website
@media (min-width: 992px) {
  .play-Card-container.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 13.344%;
  }
}
@media (max-width: 425px) {
  .card-options {
    a {
      opacity: 1 !important;
    }
  }
}
@media (max-width: 375px) {
  .play-Card-container {
    &.col-5 {
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
    }

    .descriptionCard-bottom {
      display: flex;
      flex-flow: column;
      margin-top: 0;
      .play-Card-title {
        font-size: 0.9rem;
        font-weight: 400;
      }
      .play-Card-subTitle {
        font-size: 0.8rem;
        font-weight: 400;
      }
      .fa-ellipsis-h {
        font-size: 1rem;
      }
    }
  }
}
// Taplet
// @media (max-width: 768px) {
//   .play-Card-container.col-5 {
//     -ms-flex: 0 0 40% !important;
//     flex: 0 0 40% !important;
//     max-width: 40% !important;
//   }
// }

// // Mobile
// @media (max-width: 376px) {
//   .play-Card-container.col-5 {
//     -ms-flex: 0 0 40% !important;
//     flex: 0 0 40% !important;
//     max-width: 40% !important;
//   }
// }
