.width80 {
  width: 80%;
  #subjectModal {
    width: 80%;
    margin: auto;
    max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: auto;
    border-radius: 10px;
  }
}
.staticStyle.bgWhite {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
