.top-card-head {
  display: flex;
  width: 100%;
  padding: 0 1.25rem;

  > div {
    flex: 1;
    white-space: nowrap;
  }
  .cardHead-headline {
    text-align: start;
    font-size: 1.125rem;
    // -webkit-margin-start: 0.625rem;
    // margin-inline-start: 0.625rem;
    font-weight: 500;
    h3 {
      color: #1e1e1e;
      font-family: mabry;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 11px;
    }
    // -webkit-margin-start: 20px;
    // margin-inline-start: 20px;
  }
  .cardHead-change-Location {
    text-align: end;
    // margin-inline-end: 1.25em;

    span {
      font-weight: 200;
      color: #0070ef;
      font-size: 14px;
      font-family: mabry;
    }
  }
}
@media (max-width: 425px) {
  .top-card-head {
    padding: 0 0.625rem;
  }
}
@media (max-width: 375px) {
  .top-card-head {
    padding: 0 0.625rem;
    .cardHead-headline {
      h3 {
        font-size: 1rem;
      }

      // -webkit-margin-start: 20px;
      // margin-inline-start: 20px;
    }
    .cardHead-change-Location {
      span {
        font-size: 0.875em;
      }
    }
  }
}
@media (max-width: 375px) {
  .card-options .icon-wrapper {
    width: 2rem;
    height: 2rem;
    i {
      font-size: 0.675rem !important;
    }
  }
}
