$color1: #fcd04b;
$color2: #fcad26;

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px * 6-4px;
  height: 20px;
  transform: translate(-50%, -50%);
  .dot {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $color2;
    animation: spin 0.5s 0s infinite alternate both;
    @for $i from 0 through 5 {
      &:nth-child(#{$i}) {
        animation: spin 0.5s #{$i * 80}ms infinite alternate both;
        left: 24px * $i;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: translateY(0);
    box-shadow: 0 0 0 $color2;
  }
  to {
    transform: translateY(-20px);
    box-shadow: 0 40px 0px $color2;
  }
}
