.artist-genre-container {
  margin-top: 1.681rem;
  h1 {
    color: #333;
    font-size: 22px;
    margin-inline-start: 22px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .artist-wrapper {
    padding: 16px;
    display: flex;
    flex-wrap: nowrap;
    figure {
      margin-inline-start: 18px;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 100%;
      }
      figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
        }
        p {
        }
        span {
        }
      }
    }
  }
}
