.icon-ellipsis {
  .small-modal-card-container {
    position: relative;
    z-index: 10;
    overflow: hidden;

    &.showModalElement {
      overflow: visible;
    }
    &::before {
      content: "";
      position: absolute;
      //   width: 0;
      //   height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid white;
      bottom: -0.55rem;
      //   top: 0;
      //   border: transparent transparent transparent blue;
      //   border: 5px solid;
    }
    .small-modal-card-wrapper {
      position: absolute;
      top: -83.2px;
      left: 0.6rem;
      color: #666666;
      background-color: white;
      padding: 0.5rem;
      border-radius: 0.2rem;
      box-shadow: 0 3px 3px 0 #e7e7e7;
      white-space: nowrap;
      .modal-element-details {
        display: flex;
        padding: 0.5rem;
        border-radius: 0.3rem;
        font-size: 1rem;
        align-items: center;
        &:hover {
          background-color: #cccccc;
        }
        > i {
          margin-inline-end: 1rem;
        }
        .title-arrow {
          display: flex;
          width: 100%;
          justify-content: space-between;
          letter-spacing: 1px;
          .small-modal-card-title {
            font-size: 1rem;
          }
          .chevron-arrow-dropDown {
            margin-inline-start: 1rem;
          }
        }
      }
    }
  }
}
