@media (min-width: 992px) {
  .doubleColum-wrapper.col-lg-2,
  .card-row.col-lg-2 {
    -ms-flex: 0 0 15.05%;
    // flex: 0 0 15.05%;
    // max-width: 15.05%;
    flex: 0 0 15.05%;
    max-width: 15.05%;
  }
}
@media (max-width: 375px) {
  .doubleColum-wrapper.col-5,
  .card-row.col-5 {
    -ms-flex: 0 0 46.576%;
    flex: 0 0 46.576%;
    max-width: 46.576%;
  }
}
