.input-upload-image {
  > label {
    flex: 0 0 16%;
    max-width: 16%;
  }
  > input {
    padding: 8px;
    border: 1px solid #ced4da;
    margin-inline-start: 24px;
  }
}

.input-upload-name {
  > label {
    max-width: 16%;
    flex: 0 0 16%;
  }

  > input {
    padding: 8px;
    border: 1px solid #ced4da;
    margin-inline-start: 24px;
  }
}
