.main {
  padding-top: 5.688em;
  // margin: 0 0.563em;
  min-height: 300px;
  .data-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    .flexing {
      display: flex;
      flex-wrap: wrap;
      padding-inline-start: 20px;
    }

    .loader {
      margin-left: 10px;
    }
    .card-row {
      .play-Card-container {
        // padding: 0 0.37em 0.9375em 0.37em;
        padding: 0 0 0.9375em 0;
        padding-inline-start: 18px;
      }
    }
  }
}

@media (min-width: 992px) {
  .main {
    .data-main-wrapper {
      .card-row {
        max-width: 14.05%;
      }
    }
  }
}
