.tracks-container {
  h1 {
    font-size: 1.375rem;
    margin-inline-start: 1.125rem;
    margin-bottom: 13px;
    text-transform: capitalize;
  }
  .tracks-wrapper {
    display: flex;
    flex-wrap: nowrap;
    .tracks {
      display: flex;
      align-items: center;
      margin-bottom: 1.875rem;
      margin-inline-start: 22px;
      .left-side {
        ul {
          &:first-child {
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              img {
              }
              span.overlay {
                position: absolute;
                background-color: rgba(#333, 0.8);
                opacity: 0;
                pointer-events: none;
                color: #fff;
                padding: 0.5em 0.7em 0.5em 0.926em;
                border-radius: 50%;
                transition: 0.3s ease-in-out;
                cursor: pointer;
              }

              &:hover {
                span.overlay {
                  opacity: 1;
                  pointer-events: auto;
                  transition: 0.3s ease-in-out;
                }
              }
            }
          }
          display: flex;
          li {
            figure {
              display: flex;
              margin-inline-start: 20px;
              figcaption {
                text-transform: capitalize;

                p {
                  font-size: 16px;
                  font-weight: 400;
                }
                .spans {
                  display: flex;
                  color: #888;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .right-side {
        margin-inline-start: auto;
        ul {
          display: flex;
          li {
            display: flex;
            margin-inline-start: 25px;

            &:hover span {
              visibility: visible;
            }
            i {
              font-size: 18px;
              cursor: pointer;
              position: relative;
            }
            span {
              text-transform: capitalize;
              font-size: 10px;
              position: absolute;
              visibility: hidden;
              background-color: #333;
              color: #fff;
              text-align: center;
              padding: 4px;
              padding-bottom: 5px;
              bottom: 140%;
              left: 100%;
              margin-left: -43px;
              z-index: 1;
              border-radius: 3px;

              &:after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #333 transparent transparent transparent;
              }
            }
          }
        }
      }

      &:first-child {
        .right-side {
          ul {
            li {
              span {
                position: absolute;
                top: -2px;
                right: 160%;
                bottom: unset !important;
                left: unset !important;
                padding-bottom: 5px;

                &:after {
                  content: " ";
                  position: absolute;
                  top: 0;
                  left: 107%; /* To the right of the tooltip */
                  margin-top: 5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: transparent transparent transparent #333;
                }
              }

              &:hover span {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

// .col-lg-12:first-child {
//   .right-side {
//     ul {
//       li {
//         span {
//           top: -5px;
//           right: 105%;
//         }
//       }
//     }
//   }
// }
